/cef_user_data
/chromium
/coc/extensions/db.json
/coc/extensions/node_modules
/configstore
/dconf
/evince/print-settings
/evolution
/fish/fishd.*
/fish/functions/fzf_key_bindings.fish
/freerdp
/fzf
/gedit
/gnome-initial-setup-done
/ibus
/libreoffice
/libvirt
/google-chrome
/menus
/mimeapps.list
/monitors.xml*
/nautilus
/nvim/.netrwhist
/nvim/spell
/pulse
/QtProject.conf
/ranger
/remmina
/spotify
/unity3d
/vlc
/VirtualBox
/wireshark
