/.netrwhist
/chromium
/dconf
/evolution
/fish/fishd.*
/fish/functions/fzf_key_bindings.fish
/fzf
/gedit
/gnome-initial-setup-done
/ibus
/libreoffice
/libvirt
/google-chrome
/mimeapps.list
/monitors.xml*
/nautilus
/nvim/spell
/pulse
/ranger
/spotify
/unity3d
/VirtualBox
