/1Password
/BraveSoftware/
/cef_user_data
/chromium
/coc/
/configstore
/Cursor
/connections.db
/dconf
/ddns-update-daemon
/evince/print-settings
/evolution
/fish/fishd.*
/fish/functions/fzf_key_bindings.fish
/freerdp
/fzf
/.gsd-keyboard.settings-ported
/gedit
/go/telemetry
# Don't include accounts secrets.
/goa-1.0/accounts.conf
/gh
/gnome-initial-setup-done
/GNU\ Radio
# HTOP configs across different versions have caused me issues in the past so I exclude them.
/htop
/ibus
/kicad
/libreoffice
/libvirt
/microsoft-edge-dev/
/google-chrome
/google-chrome-beta
/google-chrome-unstable
/menus
/mimeapps.list
/monitors.xml*
/nautilus
/nvim/.netrwhist
/nvim/spell
/op
/pulse
/QtProject.conf
/ranger
/remmina
/simple-scan
/spotify
/systemd/user/default.target.wants/
/unity3d
/vivaldi/
/vivaldi-snapshot/
/VirtualBox
/vlc
/wireshark
