[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mark/berkeley]
row=9
col=0

[/home/mark/drone]
row=8
col=0

[/home/mark/html]
row=11
col=0

[/home/mark/utilities]
row=10
col=0

[/home/mark/work]
row=6
col=0

[/home/mark/dloads]
row=7
col=0

[c1d09b7c-e156-4cbe-8e7e-c3a50fd73e89]
row=1
col=0

[cb741a94-88a5-4d5b-85df-fa375b675116]
row=2
col=0

[d41afd96-193d-48b1-b128-036b26fd744a]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/mark]
row=5
col=0

