[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mark/berkeley]
row=11
col=3

[/home/mark/drone]
row=8
col=3

[/home/mark/html]
row=9
col=3

[/home/mark/utilities]
row=10
col=3

[/home/mark/work]
row=6
col=3

[/home/mark/dloads]
row=7
col=3

